{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block page_name %}Users{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1 style="font-size: 50px;">{{ controller_name }}! ✅</h1>

    <h2>Users List:</h2>
    <ul style="list-style: none;padding: 0;">
        {% for user in users %}
            <li>{{ user.id }} - <a href="{{ path('app_users_user_info', { 'id' : user.id }) }}" style="color: dimgrey;text-decoration: none;font-size: 20px;">{{ user.login }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
